.App {
    height: 95vh;
    width: 53vh;
    display: flex;
    box-shadow: 0 5px 10px  rgba(0, 0, 0, 0.4);
    flex-direction: column;
    font-family: 'Overpass', sans-serif;
}

@media screen 
  and (min-width:320px)
  and (orientation: portrait) {
    .App {
        box-shadow: 0 0 0 rgba(0, 0, 0, 0.4);
        width: 100vw;
    }
}

.App__Header {
    /*background-color: #aaa;*/
    flex: 1 0 3vh;
    font-size: 2.5vh;
    list-style: none;
    height: 10vh;
    padding: 1vh;
    box-sizing: border-box;
}

.App__Body {
    /*background-color: #8eb;*/
    flex: 14 0 auto;
}

.Header__flux {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.Header__back {
    flex: 1 0 auto;
    text-decoration: none;
}

.Header__homeLink {
    flex: 1 0 auto;
    text-decoration: none;
}

.Header__titleText {
    flex: 5 0 auto;
    justify-content: flex-end;
    color: rgba(255, 255, 255, 0.95);
    font-size: 3.5vh;
}

.Header__titleLogoContainer {
    flex: 1 0 2vh;
    padding: 0 1vh 0 2vh;
}

.Header__titleLogo {
    background-image: url('./logo.png');
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}

.Header__login {
    flex: 1 0 auto;
    padding: 3vh;
    justify-content: flex-end;
}

.Header__link {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.95);
    cursor: pointer;
}

.Header__loginLink {
    text-decoration: underline;
}

.Body__flux {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.Body__Home {
    flex-direction: column;
    height: 85vh;
}

.Home__oash {
    flex: 0 0 2vh;
    text-align: center;
    font-size: 2vh;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.6);
    font-weight: 200;
}

.Home__ashUpLogo {
    flex: 0 0 25vh;
    background-image: url('./logo.png');
    background-size: auto 25vh;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 25vh;
    margin: 2vh 0;
}

.Home__ashUpTitle {
    font-size: 6vh;
    color: white;
    font-weight: 600;
}

.Home__buttons {
    width: 100%;
    padding: 0 3vh;
}

.Home__buttonList {
    padding: 0;
}

.Home__button {
    flex: 0 0 2vh;
    margin: 1vh 0;
    list-style: none;
    text-align: center;
}

.Home__consultButton {
    text-transform: uppercase;
    text-decoration: none;
    background-color: rgb(182, 29, 102);
    border-bottom: 1vh solid rgb(151, 26, 86);
    font-weight: 700;
    border-radius: 3vh;
    padding: 4vh 0 3vh 0;
    width: 100%;
    font-size: 3vh;
    color: white;
    display: block;
    margin-bottom: 4vh;
}

.Home__consultButton:active {
    border-bottom: 0.7vh solid rgb(151, 26, 86);
    background-color: rgb(182, 40, 108);
}

.Home__auxButton {
    border: 0.5vh solid rgba(255, 255, 255, 0.2);
    text-decoration: none;
    color: rgba(255, 255, 255, 0.85);
    border-radius: 1.5vh;
    padding: 1.5vh 0 1vh 0;
    font-weight: 400;
    width: 100%;
    display: block;
}

.Home__auxButton:active {
    background-color: rgba(255, 255, 255, 0.1);
}

.Body__default {
    flex-direction: column;
    overflow-y: scroll;
    height: 85vh;
    padding: 0 2vh 3vh 2vh;
    background-color: rgba(0, 0, 0, 0.6);
}

.Body__default h1 {
    font-weight: 700;
    text-transform: uppercase;
    font-size: 2.8vh;
    margin-bottom: 2vh;
    padding-bottom: 0.5vh;
    color: white;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.Body__default h2 {
    font-weight: 700;
    text-transform: uppercase;
    font-size: 2.4vh;
    margin: 0 0 2vh 2vh;
    padding-bottom: 0.5vh;
    color: rgba(255, 255, 255, 0.6);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.Body__default b {
    font-weight: 400;
    color: white;
}

.Body__default ul {
    margin-top: 0;
    padding: 0;
    margin-left: 4vh;
}

.Body__default p {
    margin-left: 2vh;
}

.Body__default p, .Body__default li {
    font-weight: 200;
    margin-top: 0;
    margin-bottom: 1.5vh;
    color: rgba(255, 255, 255, 0.8);
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.7);
    font-size: 2.5vh;
    line-height: 1.45;
}

.Body__default p.subtext {
    margin-top: -1.5vh;
    color: rgba(255, 255, 255, 0.7);
    font-size: 2vh;
}


.Body__auxButton {
    border-bottom: 0.5vh solid rgba(0, 0, 0, 0.5);
    background-color: rgba(255, 255, 255, 0.85);
    text-decoration: none;
    color: rgba(0, 0, 0, 0.8);
    border-radius: 1.5vh;
    padding: 1.5vh 0 1.2vh 0;
    font-weight: 400;
    font-size: 2.7vh;
    width: 100%;
    display: block;
}

.Body__auxButton .fa {
    padding: 0 1.5vh 0 2vh;
    color: rgba(0, 0, 0, 0.2);
}

.Body__auxButton .fa {
    line-height: 1;
}


.Body__auxButton:active {
    background-color: rgba(200, 200, 200, 0.85);
}

input[type="radio"],
input[type="checkbox"] {
    display: none;
}

input[type="radio"] + label {
    display: block;
}

input[type="checkbox"] + label:before,
input[type="radio"] + label:before {
    display: inline-block;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    padding-right: 8px;
    width: 23px;
}

input[type="radio"] + label:before {
    content: "\f10c"; /* Radio Unchecked */
}

input[type="radio"]:checked + label:before {
    content: "\f192"; /* Radio Checked */
}

input[type="checkbox"] + label:before {
    content: "\f096"; /* Checkbox Unchecked */
}

input[type="checkbox"]:checked + label:before {
    content: "\f046"; /* Checkbox Checked */
}

input[type="checkbox"]:checked + label,
input[type="radio"]:checked + label {
    background-color: rgba(255, 255, 255, 0.6);
    color: black;
}

.Body__inputGroup {
    margin: 2vh 0 2vh 2vh;
    background-color: rgba(255, 255, 255, 0.1);
}

.Body__radio label,
.Body__checkbox label {
    padding: 2vh 3vh 2vh 3vh;
    text-shadow: inherit;
    color: white;
}

.Body__radio p.subtext {
    margin: 0 0 0 4.75vh;
    font-weight: 300;
    text-shadow: inherit;
    color: inherit;
}

.AutoCompleteOption__textField, .Consult__textArea {
    margin-left: 2vh;
    padding: 1vh;
    background-color: rgba(255, 255, 255, 0.1);
}

.AutoCompleteOption__textField input, .Consult__textArea textarea {
    width: 100%;
    font-family: 'Overpass', sans-serif;
    border: none;
    border-bottom: 2px solid rgba(255, 255, 255, 0.2);
    outline: none;
    padding: 1vh;
    background: none;
    font-weight: 400;
    color: rgba(255, 255, 255, 1);
    font-size: 2.5vh;
    line-height: 1.45;
}

.AutoCompleteOption__textField input::placeholder, .Consult__textArea textarea::placeholder {
    color: rgba(255, 255, 255, 0.2);
}

.AutoCompleteOption__textField input:focus, .Consult__textArea textarea:focus {
    border-bottom: 3px solid rgba(255, 255, 255, 0.6);
}

.AutoCompleteOption__textField input:focus + .AutoCompleteOption__suggestions {
    display: block;
}

.AutoCompleteOption__suggestions {
    /*margin-top: 1vh;*/
    margin-left: 2vh;
    background-color: rgba(0, 0, 0, 0.5);
    /*display: none;*/
}

.AutoCompleteOption__suggestions ul {
    list-style: none;
    margin: 0;
    max-height: 18vh;
    overflow-y: scroll;
}

.AutoCompleteOption__suggestions li {
    padding: 2vh;
    margin: 0;
    font-size: 2.2vh;
    color: rgba(255, 255, 255, 0.7);
}

.AutoCompleteOption__suggestions li:nth-child(odd) {
    background-color: rgba(0, 0, 0, 0.8);
}

.AutoCompleteOption__suggestions li:nth-child(even) {
    background-color: rgba(0, 0, 0, 0.3);
}

.Body__AutoCompleteGroup {
    margin: 2vh 0;
}

.AutoCompleteGroup__addAnother {
    margin-left: 2vh;
    padding: 2vh 2vh 1.5vh 2vh;
    background-color: rgba(0, 0, 0, 0.4);
    color: rgba(255, 255, 255, 0.6);
    cursor: pointer;
}

.AutoCompleteGroup__addAnother .fa {
    color: rgba(255, 255, 255, 0.4);
    margin-right: 2vh;
}

.Consult__textArea {
    margin-bottom: 3vh;
    padding-bottom: 0.5vh;
}

.Consult__textArea textarea {
    resize: none;
}

.ConsultAnalysis__details {
    background: white;
    padding: 2vh;
}

.ConsultAnalysis__details h3 {
    margin: 2vh 0 1vh 0;
    padding: 0;
    text-shadow: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    font-size: 2.1vh;
    text-transform: uppercase;
    color: black;
}

.ConsultAnalysis__details li {
    margin: 0 0 0 3vh;
    padding: 0.25vh 0;
    text-shadow: none;
    font-weight: 400;
    font-size: 2.3vh;
    color: rgba(0, 0, 0, 0.8);
}

.penalty {
    margin-left: 3vh;
}

.caseContainer {
    display: flex;
    background-color: rgba(255, 255, 255, 0.2);
}

.caseContainer:nth-child(even) {
    background-color: rgba(255, 255, 255, 0.05);
}

.caseContainer li {
    list-style: none;
    flex: 5 0 auto;
    display: block;
    margin: 0;
    padding: 2vh;
    text-shadow: none;
    font-weight: 300;
}

.caseContainer a {
    color: white;
    display: block;
    text-decoration: none;
}

.caseContainer p {
    cursor: pointer;
    flex: 1 0 4vh;
    display: block;
    background-color: rgba(0, 0, 0, 0.7);
    margin: 0;
    padding: 2vh 0;
    text-align: center;
}

.addConsult {
    color: white;
    padding: 2vh;
    background-color: rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

.addConsult .fa {
    margin-right: 2vh;
}