html, body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    /*position: fixed;*/
}

#root {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: auto 110%;
    background-position: bottom; 
    background-repeat: repeat-x;
    background-image: url(./background.jpg);
    background-color: #333F50;
}

* {
    transition: all 0.05s cubic-bezier(0.645, 0.045, 0.355, 1);
    box-sizing: border-box;
}

textarea {
    transition: none;
}